.color{
    padding: 0;
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
}

.underline{
    text-decoration-line: underline;
}

ul{
    padding-left: 0;
}

li{
    margin : 0;
}

#title{
    text-align: center;
}
