body{
    background-color: white;
}

#exercise{
    height: 70vh;
}

.canvas{
    top:0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: auto;
    align-items: center;
    justify-items: center;
    background-color: white;
    box-sizing: border-box;
}


/* .image{ */
/*     /\* height: 9vh; *\/ */
/*     /\* max-height: 7vh; *\/ */
/* } */

/* #exercise{ */
/*     height: 60vh; */
/* } */


.image{
    margin: 0;
    padding: 0;
}
