

#canvas{
    display: grid;
    grid-gap: 0;
    width: 100%;
    height: 50vh;
    position:relative;
    top: 0;
    left: 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    
}


.start_buttons_div{
    grid-template-columns: repeat(2,1fr);
}

.circle{
    border-radius: 50%;
    height: 10vh;
 
}

.diagonal{    
    height: 1vh;    
    background: #ff0000;
    position: absolute;
    left:0;
    top:0;
    opacity: 0.3;
}

#error_buttons_div{
    margin-top: 0.2vh;
}

.text{
    font-size: 10vh;
}
