
#canvas{
    display: grid;
    grid-gap: 5%;
    width: 100%;
    height: 50vh;
    position:relative;
    top: 0;
    left: 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    
}


.start_buttons_div{
    grid-template-columns: repeat(2,1fr);
}

.circle{
    border-radius: 50%;
    background:#CCC;
    background: #5555ff;
}

.diagonal{    
    height:1vh;    
    background: #ff0000;
    position:absolute;
    left:0;
    top:0;
    opacity: 0.3;
}

.circle_text{
    position: relative;
    font-size: 300%;
    text-align: center;
}
