.bold{
    font-weight: bold;
}

.first-message{
    font-size: 1.3em;
    margin: 1em;
}

section {
    /* position: absolute; */
    font-size: 0.6em;
    text-align: start;
    padding: 0.4em;
    h2 {
	border-bottom: solid ;
	font-weight: bold;
	color: hsl(340, 62.3%, 68.8%);
    }
    flex: fit-content;
}

#sections{
    display: flex;
    flex-direction: column ;
     align-items: center;
     justify-content: space-around;
}

section:nth-child(1){
    padding-right: 30vw;
}

section:nth-child(2){
    padding-left: 30vw;
}

