.color-boxes{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    /* height: 100%; */
}

.color-box{
    height: 40vh;
}


#circle{
    margin: auto;
    background-color: #000000;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-top: 10%; 
}


