.slide{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

#line1{
    flex:1;
    font-size: 5vh;
}

#line2{
    flex:1;
    font-size: 5vh;
}


